<div class="poll-question-answers irma">
  <% question.question_answers.each do |answer| %>
    <div class="relative small-12 medium-4 large-3 column end">
      <input type="radio" class="button-check" name="answers_question_<%= question.id %>"
             id="answer_<%= answer.id %>" value="<%= answer.title %>">
      <label for="answer_<%= answer.id %>">
        <% if answer.images.any? %>
          <% image = answer.images.first %>
          <%= image_tag image.attachment.url(:original), class: "orbit-image",
                        title: image.title.unicode_normalize, alt: image.title.unicode_normalize %>
        <% end %>
        <span class="button secondary hollow"><%= answer.title %></span>
      </label><br>
    </div>
  <% end %>
</div>
